# encoding: UTF-8
<%= simple_form_for @comment, :html => { :class => 'form-horizontal' }, defaults: { input_html: {class: 'form-control has-feedback' } }  do |f| %>
<div class="row">
 <div class="col-xs-12 col-md-2">

 <% if params[:presel].nil? %>
  <%= f.association :items, collection: Item.where(department_id: current_user.department_id), value_method: :id, label_method: :tagid, :autofocus => true, input_html: { id: 'item-select4'}, :autofocus => true %>
 <% else %>
  <%= f.association :items, collection: Item.where(department_id: current_user.department_id), value_method: :id, label_method: :tagid, 
  :autofocus => true, input_html: { id: 'item-select4'}, :autofocus => true, :selected => params[:presel] %>
 <% end %>
 <%= error_span(@comment[:items]) %>
  <%= f.association :service_events, value_method: :id, input_html: { id: 'service-select1'} %>
  <%= error_span(@comment[:service_event]) %>
  <div class="control-group">
      <%= f.label :service, :class => 'control-label' %>
      <%= f.input_field :service, as: :boolean, boolean_style: :inline %>
    <%= error_span(@comment[:service]) %>
  </div>
  <div class="control-group">
      <%= f.label :inspection, :class => 'control-label' %>
      <%= f.input_field :inspection, as: :boolean, boolean_style: :inline %>
    <%= error_span(@comment[:inspection]) %>
  </div>

 </div>
 <div class="col-xs-12 col-md-3">
  <%= f.input :price %>
  <%= error_span(@comment[:price]) %>
  <%= f.association :vendor, input_html: {id: 'item-select5'} %>
  <%= error_span(@comment[:vendor]) %>
  <%= f.input :body %>
  <%= error_span(@comment[:body]) %>
  <%= f.association :user, collection: User.where(department_id: current_user.department_id), value_method: :id, label_method: :to_label_sms, :autofocus => true, input_html: { id: 'user-select1'} %>
  <%#= f.association :user, collection: User.where(department_id: current_user.department_id), value_method: :id, label_method: :to_label_sms, :autofocus => true, input_html: { id: 'user-select1'}, :selected => current_user.id %>
  <%= error_span(@comment[:user]) %>

 </div>
 <div class="visible-md visible-lg col-md-7">
<table class="table-condensed">
<tr><td>
  <% ServiceEvent.where(show: true).all.each do |event| %>
<tr><td>
 <p class="text-center"><strong><%= event.name %>:</strong></p>
</td><td>
 <%= event.get_barcode(event.name.gsub(/[ÄÅäå]/, "a").gsub(/[Öö]/, "o").strip).html_safe %>
</td></tr>
  <% end %>
</table>
 </div>
</div>
<br>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                comments_path, :class => 'btn btn-default' %>
<% end %>
