<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.collection_select :parent_id, Item.arrange_as_array({:order => 'tagid'}, @item.possible_parents) , :id, :name_for_selects, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :item_class %><br>
    <%= f.collection_select(:category_id, @categories, :id, :name, :include_blank => "Please select") %>
  </div>
  <div class="field">
    <%= f.label :item_subclass %><br>
    <%= f.collection_select(:sub_category_id, @subcategories, :id, :name, :include_blank => "Please select") %>
  </div>
  <div class="field">
    <%= f.label :purchased_at %><br>
    <%= f.text_area :purchased_at %>
  </div>
  <div class="field">
    <%= f.label :purchased_at_date %><br>
    <%= f.date_select :purchased_at_date %>
  </div>
  <div class="field">
    <%= f.label :warranty_until %><br>
    <%= f.date_select :warranty_until %>
  </div>
  <div class="field">
    <%= f.label :lifetime_until %><br>
    <%= f.date_select :lifetime_until %>
  </div>

  <div class="field">
    <%= f.label :tagid %>
    <%= f.text_field :tagid %>
  </div>
  <div class="field">
    <%= f.label :rfid %>
    <%= f.text_field :rfid %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :serial %><br>
    <%= f.text_field :serial %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %> EUR
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.text_field :owner %>
  </div>
  <div class="field">
    <%= f.label :service_interval %><br>
    <%= f.number_field :service_interval %> years
  </div>
LUP:
<div class="field">
<%= f.radio_button(:lup, "true") %> Kuuluu kalustoon ja huoltaa<br>
<%= f.radio_button(:lup, "serv") %> Huoltaa<br>
<%= f.radio_button(:lup, "false") %> ei huolla, ei kuulu kalustoon<br>
</div>

  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :last_seen %><br>
    <%= f.date_select :last_seen %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
