<% items.each do |i| %>
<tr>
<td><strong><%= i.sub_category.name %>:</strong></td>
<td><%= link_to i.tagid, item_path(i) %></td>
<td><%= i.serial %></td>
<td><%= i.make %></td>
<td><%= i.model %></td>
<td><%= i.into_use %></td>
</tr>
<% end %>
