<%= simple_form_for @identifier, :html => { :class => 'form-horizontal' } do |f| %>
<div class="row">
 <div class="col-xs-12 col-md-4">
  <%= f.association :items, collection: Item.where(department_id: current_user.department_id), value_method: :id, label_method: :tagid, input_html: { id: 'item-select5'} %>
  <%= error_span(@identifier[:items]) %>
 </div>
 <div class="col-xs-12 col-md-4">
  <%= f.input :name %>
  <%= error_span(@identifier[:name]) %>
  <%= f.input :barcode %>
  <%= error_span(@identifier[:barcode]) %>
 </div>
</div>
  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                identifiers_path, :class => 'btn btn-default' %>
<% end %>
