<%- model_class = Identifier -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:barcode) %></th>
      <th><%= model_class.human_attribute_name(:items) %></th>
      <th class="hidden-xs hidden-sm"><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @identifiers.each do |identifier| %>
      <tr <%= "class=info" if identifier.items.size > 0%>>
        <td><%= identifier.name %></td>
        <td><%= identifier.barcode %></td>
	<% if identifier.item_id.nil? ||identifier.item_id.blank? ||identifier.item_id == 0 %>
         <td data-toggle="collapse" data-target="#<%= identifier.id %>" class="accordion-toggle">Click to show items (<%= identifier.items.size %>)</td>
	<% elsif identifier.items.size == 1 %>
	 <% identifier.items.each do |i| %>
	  <td><%= link_to i.tagid, item_path(i) %></td>
	  <% end %>
	<% else %>
	 <td><%= identifier.item_id %></td>
	<% end %>
        <td class="hidden-xs hidden-sm"><%=l identifier.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      identifier_path(identifier), :class => 'btn btn-default btn-xs' %>
	 <% if can? :update, Identifier %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_identifier_path(identifier), :class => 'btn btn-default btn-xs' %>
	 <% end %>
         <% if can? :destroy, Identifier %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      identifier_path(identifier),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
	<% end %>
        </td>
      </tr>
      <% if identifier.items.size > 0 %>
      <tr class="info">
       <td colspan="6" style="padding: 0 !important;">
         <div class="accordian-body collapse" id="<%= identifier.id %>">
          <%= render partial: "items", locals: { items: identifier.items } %>
         </div>
       </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% if can? :create, Identifier %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_identifier_path,
            :class => 'btn btn-primary' %>
<% end %>
