<%= simple_form_for @checkout, :html => { :class => 'form-horizontal' } do |f| %>
<div class="col-xs-12 col-sm-8 col-md-6 col-lg-3">

 <% if params[:presel].nil? %>
  <%= f.association :items, collection: Item.where(department_id: current_user.department_id), value_method: :id, label_method: :tagid, :autofocus => true, input_html: { id: 'item-select4'}, :autofocus => true %>
 <% else %>
  <%= f.association :items, collection: Item.where(department_id: current_user.department_id), value_method: :id, label_method: :tagid, 
  :autofocus => true, input_html: { id: 'item-select4'}, :autofocus => true, :selected => params[:presel] %>
 <% end %>


  <%= error_span(@checkout[:items]) %>
  <%= f.input :body, input_html: { :class => 'form-control' } %>
  <%= error_span(@checkout[:body]) %>


  <%= f.association :user, collection: User.where(department_id: current_user.department_id), value_method: :id, label_method: :to_label_sms, :autofocus => true, input_html: { id: 'user-select1'} %>
  <%= error_span(@checkout[:user]) %>

  <%#= f.input :checkout %>
  <%#= error_span(@checkout[:checkout]) %>
  <%#= f.input :return %>
  <%#= error_span(@checkout[:return]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                checkouts_path, :class => 'btn btn-default' %>
</div>
<% end %>
