<%= simple_form_for @item, :html => { :class => "form-horizontal" }, defaults: { input_html: {class: 'form-control has-feedback' } } do |f| %>
<%= f.error_notification %>
    <% if @item.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
       <h3 class="panel-title"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<div class="row">
<div class="col-lg-3">
      <%= f.input :tagid, :autofocus => true, :validate => true %>
    <%= error_span(@item[:tagid]) %>
    <%= f.input :rfid %>
    <%= error_span(@item[:rfid]) %>
      <%= f.input :make  %>
    <%= error_span(@item[:make]) %>
  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'form-control' %>
    </div>
    <%= error_span(@item[:model]) %>
  </div>
  <div class="control-group">
    <%= f.label :serial, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :serial, :class => 'form-control' %>
    </div>
    <%= error_span(@item[:serial]) %>
  </div>
<!-- Test starts -->
<%= f.association :category, value_method: :id, input_html: { id: 'item-select2' } %>
<%= f.input :sub_category_id, collection: @categories, as: :grouped_select, group_method: :sub_categories, input_html: { id: 'item-select3' } %>
<!-- Test ends -->

  <div class="control-group">
      <%= f.input :description, :class => 'form-control' %>
    <%= error_span(@item[:description]) %>
  </div>
  <div class="control-group">
      <%= f.input :weight, :class => 'form-control' %>

    <%= error_span(@item[:weight]) %>
  </div>
  <div class="control-group">
      <%= f.input :size, :class => 'form-control' %>
    <%= error_span(@item[:size]) %>
  </div>

</div>
<div class="col-lg-3">

  <div class="control-group">
      <%= f.association :owner %>
    <%= error_span(@item[:owner_id]) %>
  </div>

  <div class="control-group">
      <%= f.association :vendor %>
    <%= error_span(@item[:vendor_id]) %>
  </div>

  <div class="control-group">
    <%= f.label :purchased_at_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :purchased_at_date, :class => 'watched' %>
    </div>
    <%= error_span(@item[:purchased_at_date]) %>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :into_use %>
    </div>
    <%= error_span(@item[:purchased_at_date]) %>
  </div>

  <div class="control-group">
      <%= f.input :warranty_time %>years
    <%= error_span(@item[:warranty_time]) %>
  </div>
  <div class="control-group">
      <%= f.input :life_time %>years
    <%= error_span(@item[:life_time]) %>
  </div>

  <div class="control-group">
      <%= f.input :price, :class => 'form-control' %>
    <%= error_span(@item[:price]) %>
  </div>

  <div class="control-group">
      <%= f.input :service_interval, :class => 'form-control' %>
    <%= error_span(@item[:service_interval]) %>
  </div>
  <div class="control-group">
      <%= f.input :inspection_interval, :class => 'form-control' %>
    <%= error_span(@item[:service_interval]) %>
  </div>

</div>
<div class="col-lg-3">

  <div class="control-group">
      <%= f.input :memo, :class => 'form-control' %>
    <%= error_span(@item[:memo]) %>
  </div>
 <div class="control-group">
      <%= f.input :tag_list, :class => 'form-control' %>
    <%= error_span(@item[:tag_list]) %>
  </div>
  <div class="control-group">
      <%= f.association :status %>
    <%= error_span(@item[:status_id]) %>
  </div>
  <div class="control-group">
      <%= f.association :unit %>
    <%= error_span(@item[:unit_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %><br>
    <%= f.collection_select :parent_id, Item.arrange_as_array({:order => 'description'}, @item.possible_parents), :id, :name_for_selects, { :include_blank => true }, { :id => 'item-select1' } %>
    <%= error_span(@item[:parent_id]) %>
  </div>

  <div class="control-group">
      <%= f.label :lup, :class => 'control-label' %> service
      <%= f.input_field :lup, as: :boolean, boolean_style: :inline  %>
    <%= error_span(@item[:lup]) %>
  </div>
  <div class="control-group">
      <%= f.label :lup_inc, :class => 'control-label' %> required
      <%= f.input_field :lup_inc, as: :boolean, boolean_style: :inline  %>
    <%= error_span(@item[:lup_inc]) %>
  </div>

  <div class="control-group">
      <%= f.label :tagged, :class => 'control-label' %>
      <%= f.input_field :tagged, as: :boolean, boolean_style: :inline %> 
    <%= error_span(@item[:tagged]) %>
  </div>
  <div class="control-group">
    <%#= f.label :last_seen, :class => 'control-label' %>
    <div class="controls">
      <%= f.input :last_seen %>
    </div>
    <%= error_span(@item[:last_seen]) %>
  </div>

</div>
</div>
<br>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            items_path, :class => 'btn btn-default' %>

<% end %>
