<div id="filterrific_results">

  <div>
    <%= page_entries_info items %>
  </div>
<%= form_tag edit_multiple_items_path, method: :get do %>
<div class="table-responsive">
<table class="table table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th class="hidden-xs hidden-sm">&nbsp;</th>
      <th>tagid<%#= model_class.human_attribute_name(:tagid) %></th>
      <th>Make<%#= model_class.human_attribute_name(:make) %></th>
      <th class="hidden-xs hidden-sm">Model<%#= model_class.human_attribute_name(:model) %></th>
      <th class="hidden-xs hidden-sm hidden-md">Total weight:<br><%= @items.sum(:weight) %> kg<%#= model_class.human_attribute_name(:weight) %></th>
      <th>Description<%#= model_class.human_attribute_name(:description) %></th>
      <th class="hidden-xs hidden-sm hidden-md" colspan="2"><%#= model_class.human_attribute_name(:parent_id) %></th>
      <th class="hidden-xs hidden-sm">Owner<%#= model_class.human_attribute_name(:owner) %></th>
      <th class="hidden-xs hidden-sm hidden-sm">Last Seen<%#= model_class.human_attribute_name(:last_seen) %><br>
	>1 year ago: 
	<%= @items.where("last_seen < :foo", { :foo => 1.year.ago} ).size %>
      </th>
      <th class="hidden-xs hidden-sm">LUP<%#= model_class.human_attribute_name(:lup) %></th>
      <th class="hidden-xs">Unit</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
	<tr class="
	<%= raw "warning " if (item.last_seen) < 1.year.ago %><%= raw "info " if (item.last_seen) < 6.months.ago %><%= raw "success " if (item.last_seen) > 2.days.ago %>
	<%= raw "warning " if item.serv_overdue(item.id) %><%= raw "warning " if item.insp_overdue(item.id) %>
	<%= raw "danger " if item.pur_date(item.id) < item.life_time.year.ago && item.terminate_at_eol %>">
        <td class="hidden-xs hidden-sm"><%= check_box_tag "item_ids[]", item.id %></td>
        <td>
	 <%= item.tagged ? '[x]' : '[ ]' %> <%= link_to item.tagid, item_path(item) %><br>
        <%= raw "[x] Inspect!!<br>" if item.insp_overdue(item.id) %>
        <%= raw "[x] Service!!<br>" if item.serv_overdue(item.id) %>
        <%= raw "[x] DISCARD!!<br>" if item.pur_date(item.id) < item.life_time.year.ago && item.terminate_at_eol %>
	</td>
        <td data-toggle="collapse" data-target="#<%= item.id %>" class="accordion-toggle"><%= item.make %></td>
        <td class="hidden-xs hidden-sm" data-toggle="collapse" data-target="#<%= item.id %>" class="accordion-toggle"><%= item.model.nil? ? '--' : item.model.truncate(15) %></td>
        <td class="hidden-xs hidden-sm hidden-md" data-toggle="collapse" data-target="#<%= item.id %>" class="accordion-toggle"><%= item.weight %> kg</td>
        <td data-toggle="collapse" data-target="#<%= item.id %>" class="accordion-toggle"><%= item.description.nil? ? '--' : item.description.truncate(20) %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= item.parent ? link_to(item.parent.tagid, item_path(item.parent.id)) : '--' %></td>
        <td class="hidden-xs hidden-sm hidden-md"><%= item.children ? item.subtree.sum(:weight) : '' %> kg</td>
        <td class="hidden-xs hidden-sm"><%= item.owner_id.nil? ? 'NO OWNER' : item.owner.name %>
	<% if can? :edit, item.department_id %>
	 <br><%= item.department.try(:name) %>
	<% end %>
	</td>
        <td class="hidden-xs hidden-sm hidden-sm"><%= item.last_seen.year %></td>
        <td class="hidden-xs hidden-sm"><%= item.lup ? '[x]' : '[  ]' %><%= item.lup_inc ? '[x]' : '[  ]' %></td>
	<td class="hidden-xs"><%= item.unit.name %></td>
        <td>
	 <% if can? :update, Item %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_item_path(item), :class => 'btn btn-default btn-xs' %>
	 <% end %>
         <% if can? :destroy, Item %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      item_path(item),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
	<% end %>
        </td>
      </tr>
      <tr>
        <td colspan="13" style="padding: 0 !important;">
	 <div class="accordian-body collapse" id="<%= item.id %>">
	  <dl class="dl-horizontal">
 	  <div class="row">
  	   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <h3><%= item.description %></h3>
            <dt><strong>Make</strong>:</dt>
            <dd><%= item.try(:make) %></dd>
            <dt><strong>Model</strong>:</dt>
            <dd><%= item.try(:model) %></dd>
            <dt><strong>Serial</strong>:</dt>
            <dd><%= item.serial %></dd>
             <% item.identifiers.each do |identifier| %>
             <dt><strong><%= identifier.name %></strong>:</dt> 
	     <dd><%= identifier.barcode %></dd>
            <% end %>
            <dt><strong>Owner</strong>:</dt>
            <dd><%= item.owner.name %></dd>
           </div>
           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
            <dt><strong>Category</strong>:</dt>
            <dd><%= item.category.name %></dd>
            <dt><strong>SubCategory</strong>:</dt>
            <dd><%= item.sub_category.name %></dd>
	    <dt><strong>Status</strong>:</dt>
 	    <dd><%= item.status.name %></dd>
	    <dt><strong>Tagged</strong>:</dt>
	    <dd><%= item.tagged %></dd>
	    <dt><strong>Service</strong>:</dt>
	    <dd>Every <%= item.service_interval %> years,<br>last service:<br>
	     <%= item.comments.where(service: true).last.try(:created_at) %>
	     <%= item.serv_overdue(item.id) ? (raw "<br> OVERDUE") : "" %>
	    </dd>
 	    <dt><strong>Inspection</strong>:</dt>
 	    <dd>Every <%= item.inspection_interval %> months,<br>last inspection:<br>
	     <%= item.comments.where(inspection: true).last.try(:created_at) %>
 	     <%= item.insp_overdue(item.id) ? (raw "<br> OVERDUE") : "" %>  
 	    </dd>
	   </div>
	   <div class="col-xs-11 col-sm-11 col-md-6 col-lg-3">
	    <dt><strong>Last seen</strong>:</dt>
	    <dd><%= item.last_seen %></dd>
	    <dt><strong>Purchased at</strong>:</dt>
       	    <dd><%= item.purchased_at_date %></dd>
	    <dt><strong>Into use</strong>:</dt>
	    <dd><%= item.try(:into_use) %></dd>
	    <dt><strong>Warranty until</strong>:</dt>
	    <dd><%= item.try(:purchased_at_date) + item.try(:warranty_time).year %></dd>
	    <dt><strong>Lifetime until</strong>:</dt>
	    <dd><%= item.pur_date(item.id) + item.life_time.year %>
	    <% if item.pur_date(item.id) < item.life_time.year.ago %>
	     <br>Lifetime ENDED, discard item!
	    <% end %>
	    </dd>
            <dt><strong>Terminate at eol</strong>:</dt>
            <dd><%= item.terminate_at_eol %></dd>

	   </div>
	   <div class="hidden-xs hidden-sm col-md-5 col-lg-2">
	    <strong>Parent:</strong><br>
	     <%= item.parent ? link_to(item.parent.tagid, item_path(item.parent.id)) : '--' %><br>
	    <strong>Grand/children:</strong><br>
	    <% item.children.each do |child| %>
	     <%= link_to(child.tagid, item_path(child.id)) %><br>
	      <% child.children.each do |schild| %>
	       <%= link_to(schild.tagid, item_path(schild.id)) %><br>
	      <% end %>
	     <% end %>
	   </div>
	   <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      item_path(item), :class => 'btn btn-default btn-xs' %>
	   </div>
          </div>
         </div>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
</div>
<%= submit_tag "Edit checked" %> 
<% end %>
<%= will_paginate items %>
</div>
