<h2>Vendor</h2>
<dl class="dl-horizontal">
<dt><strong>Vendor:</strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= item.vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= item.vendor.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= item.vendor.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact) %>:</strong></dt>
  <dd><%= item.vendor.contact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= item.vendor.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= item.vendor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= item.vendor.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing) %>:</strong></dt>
  <dd><%= item.vendor.billing %></dd>

</dl>

