<%= form_tag update_multiple_items_path, method: :put, class: "form-horizontal" do %>
  <ul>
  <% @items.each do |item| %>
    <li>
      <%= hidden_field_tag "item_ids[]", item.id %>
      <%= item.description %>
      <ul class="errors">
        <% item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
  <%= simple_fields_for :item do |f| %>
<div class="row">
<div class="col-lg-3">
 <%= f.input :make, input_html: {class: 'form-control' }  %>
  <div class="control-group">
    <%= f.label :model, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :model, :class => 'form-control' %>
    </div>
  </div>
<!-- Test starts -->
    <% if current_user.superuser %>
     <%= f.input :department_id, collection: Department.order("name"), include_blank: true, input_html: {class: 'form-control' } %>
    <% end %>

<%= f.input :category_id, collection: Category.order(:name).all, include_blank: true, input_html: {class: 'form-control' } %>
<%= f.input :sub_category_id, collection: @categories, as: :grouped_select, group_method: :sub_categories, include_blank: true, input_html: {class: 'form-control' } %>

<!-- Test ends -->

  <div class="control-group">
      <%= f.input :description, input_html: {class: 'form-control' } %>
  </div>
  <div class="control-group">
      <%= f.input :weight, input_html: {class: 'form-control' } %>
  </div>
  <div class="control-group">
      <%= f.input :size, input_html: {class: 'form-control' } %>
  </div>

</div>
<div class="col-lg-3">

      <%= f.input :owner_id, collection: Owner.where(department_id = current_user.department_id).order(:name).all, include_blank: true, input_html: {class: 'form-control' } %>
      <%= f.input :vendor_id, collection: Vendor.order(:name).all, include_blank: true, input_html: {class: 'form-control' } %>

  <div class="control-group">
    <%= f.label :purchased_at_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :purchased_at_date, :class => "form-control" %>
    </div>
  </div>
  <div class="control-group">
      <%= f.input :into_use, input_html: {class: 'form-control' }  %>
  </div>

  <div class="control-group">
      <%= f.input :warranty_time, input_html: {class: 'form-control' }  %>years
  </div>
  <div class="control-group">
      <%= f.input :life_time, input_html: {class: 'form-control' }  %>years
  </div>

  <div class="control-group">
      <%= f.input :price, input_html: {class: 'form-control' }  %>
  </div>

  <div class="control-group">
      <%= f.input :service_interval, input_html: {class: 'form-control' }  %>
  </div>
  <div class="control-group">
      <%= f.input :inspection_interval, input_html: {class: 'form-control' }  %>
  </div>

</div>
<div class="col-lg-3">

  <div class="control-group">
      <%= f.input :memo, input_html: {class: 'form-control' }  %>
  </div>
 <div class="control-group">
      <%= f.input :tag_list, input_html: {class: 'form-control' }  %>
  </div>
  <div class="control-group">
      <%= f.input :status_id, collection: Status.where(department_id = current_user.department_id).order(:name).all, include_blank: true, input_html: {class: 'form-control' } %>

  </div>
  <div class="control-group">
      <%= f.input :unit_id, collection: Unit.where(department_id = current_user.department_id).order(:name).all, include_blank: true, input_html: {class: 'form-control' } %>
  </div>
  <div class="control-group">
    <%= f.label :parent_id, :class => 'control-label' %>
    <div class="controls">
    <%#= f.collection_select :parent_id, Item.arrange_as_array({:order => 'description'}, @item.possible_parents) , :id, :name_for_selects, :include_blank => true %>
    </div>
  </div>
  <div class="control-group">
      <%= f.label :lup %><br />
      <%= f.select :lup, [["Yes", true], ["No", false]], include_blank: true %> 
     <%#= f.input_field :lup, as: :boolean, boolean_style: :inline  %> <%= f.label :lup, :class => 'control-label' %> service
  </div>
  <div class="control-group">
      <%= f.label :lup_inc %><br />
      <%= f.select :lup_inc, [["Yes", true], ["No", false]], include_blank: true %>
     <%#= f.input_field :lup_inc, as: :boolean, boolean_style: :inline  %> <%= f.label :lup_inc, :class => 'control-label' %> required
  </div>

  <div class="control-group">
      <%= f.label :tagged %><br />
      <%= f.select :tagged, [["Yes", true], ["No", false]], include_blank: true, :class => "form-control" %>  </div>
  <div class="control-group">
      <%= f.input :last_seen, input_html: {class: 'form-control' }  %>
  </div>

</div>
</div>
<br>
<% end %>
    <%= submit_tag "Update" %>

  <%#= f.submit nil, :class => 'btn btn-primary' %>
  <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
            items_path, :class => 'btn btn-default' %>

<% end %>
