<div id="tag_cloud">
  <% tag_cloud Item.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div>
<h1>Listing items</h1>
<%#
  Filterrific adds some magic when you use form_for with @filterrific:
  * adds dom id 'filterrific_filter'
  * applies javascript behaviors:
      * AJAX form submission on change
      * AJAX spinner while AJAX request is being processed
  * sets form_for options like :url, :method and input name prefix
%>
<%= form_for @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Category
    <%= f.select(
      :with_category_id,
      @filterrific.select_options[:with_category_id],
      { include_blank: '- Any -' }
    ) %>
    <%# See below for the Category.options_for_select presenter method %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    <%# See below for the Item.options_for_sorted_by presenter method %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_items_path,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'items/list',
  locals: { items: @items }
) %>
<br>
<%= link_to 'New Item', new_item_path %>
