<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= form_for @filterrific do |f| %>
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-4 col-lg-2">
    Search (* = wildcard)<br>
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed',
      :autofocus => true
    ) %>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-3">
    Sorted by<br>
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
    <%# See below for the Item.options_for_sorted_by presenter method %>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-1">
  <%= f.check_box :with_tagged_only %>Tagged?<br>
  <%= f.check_box :with_untagged_only %>Untagged?
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
  <%= f.check_box :with_lup_only %>LUP Service?<br>
  <%= f.check_box :with_lup_not %>LUP not serv?<br>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
  <%= f.check_box :with_lup_inc_only %>LUP Required?<br>
  <%= f.check_box :with_lup_inc_not %>LUP not Required?<br>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
  <%= f.check_box :with_service_overdue %>Service overdue?<br>
  <%= f.check_box :with_inspection_overdue %>Inspection overdue?<br>
  <%= f.check_box :with_last_seen_overdue %>Last seen overdue?
  </div>

</div><!-- /row -->

<div class="row">
    <div class="col-xs-6 col-md-4 col-lg-2">
    Category<br>
    <%= f.select(
      :with_category_id,
      @filterrific.select_options[:with_category_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
    </div><!-- /span -->
    <div class="col-xs-6 col-md-4 col-lg-2">
    SubCategory<br>
    <%= f.select(
      :with_sub_category_id,
      @filterrific.select_options[:with_sub_category_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
    </div><!-- /col -->

  <div class="col-xs-6 col-md-4 col-lg-2">
    Vendor<br>
    <%= f.select(
      :with_vendor_id,
      @filterrific.select_options[:with_vendor_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
  </div>

  <div class="col-xs-6 col-md-4 col-lg-2">
    Owner<br>
    <%= f.select(
      :with_owner_id,
      @filterrific.select_options[:with_owner_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
    Status<br>
    <%= f.select(
      :with_status_id,
      @filterrific.select_options[:with_status_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
  </div>
  <div class="col-xs-6 col-md-4 col-lg-2">
    Unit<br>
    <%= f.select(
      :with_unit_id,
      @filterrific.select_options[:with_unit_id],
      { include_blank: '- Any -' },
      { :multiple => true, :size => 5 }
    ) %>
  </div>

</div><!-- /row -->
<div class="row">
    <%= link_to(
      'Reset filters',
      reset_filterrific_items_path,
    ) %>
</div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
  partial: 'items/list',
  locals: { items: @items }
) %>
<br>
<% if can? :create, Item %>
 <%= link_to t('.new', :default => t("helpers.links.new")),
            new_item_path,
            :class => 'btn btn-primary' %>
 <h2>Import items</h2>

 <%= form_tag import_items_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
 <% end %>
<% end %>
