<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
<h2>Item info</h2>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tagid) %>:</strong></dt>
  <dd><%= @item.tagid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rfid) %>:</strong></dt>
  <dd><%= @item.rfid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:make) %>:</strong></dt>
  <dd><%= @item.make %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @item.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial) %>:</strong></dt>
  <dd><%= @item.serial %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @item.weight %> kg</dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @item.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchased_at_date) %>:</strong></dt>
  <dd><%= @item.purchased_at_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:into_use) %>:</strong></dt>
  <dd><%= @item.into_use %></dd>
  <dt><strong><%= model_class.human_attribute_name(:warranty_until) %>:</strong></dt>
  <dd><%= @item.warranty_time %> year(s), <%= @item.purchased_at_date + @item.warranty_time.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:life_time) %>:</strong></dt>
  <dd><%= @item.life_time %> year(s),  <%= @item.pur_date(params[:id]) + @item.life_time.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:terminate_at_eol) %>:</strong></dt>
  <dd><%= @item.terminate_at_eol %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @item.price %></dd>
</dl>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:last_seen) %>:</strong></dt>
  <dd>
   <%= @item.last_seen %>
   <%= "Overdue!!!" if (@item.last_seen + 1.year) < Date.today %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:owner) %>:</strong></dt>
  <dd><%= @item.owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lup) %>:</strong></dt>
  <dd><%= @item.lup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lup_inc) %>:</strong></dt>
  <dd><%= @item.lup_inc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_id) %>:</strong></dt>
  <dd><%#= @item.ancestry %><%= @item.parent ? @item.parent.description : '---' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
  <dd><%= @item.memo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @item.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sub_category_id) %>:</strong></dt>
  <dd><%= @item.sub_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
  <dd><%= @item.status.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_id) %>:</strong></dt>
  <dd><%= @item.unit.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tagged) %>:</strong></dt>
  <dd><%= @item.tagged %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Issued) %>:</strong></dt>
  <dd>
   <%= (link_to @item.user.try(:to_label_sms), user_path(@item.user)) if !@item.user.nil? %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:service_interval) %>:</strong></dt>
  <dd>Every <%= @item.service_interval %> years, last service:<br>
   <%= @item.comments.where(service: true).last.try(:created_at) %>
   <%= @item.serv_overdue(@item) ? (raw "<br><button class=\"btn btn-danger\">OVERDUE</button>") : "" %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:inspection_interval) %>:</strong></dt>
  <dd>Every <%= @item.inspection_interval %> months, last inspection:<br>
   <%= @item.comments.where(inspection: true).last.try(:created_at) %>
   <%= @item.insp_overdue(@item) ? (raw "<br><button class=\"btn btn-danger\">OVERDUE</button>") : "" %>
  </dd>

</dl>
 <%= render partial: "links", locals: { item: @item, model_class: model_class } %>
</div><!-- /div span4 item -->

<div class="hidden-xs col-sm-6 col-md-3 col-lg-3"><!-- vendor and identifier -->
 <%= render partial: "vendor", locals: { item: @item, model_class: model_class } %>
</div>
<div class="hidden-xs col-sm-6 col-md-3 col-lg-3"><!-- vendor and identifier -->
 <%= render partial: "identifier", locals: { item: @item, model_class: model_class } %>
</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
 <%= render partial: "comments", locals: { item: @item, model_class: model_class } %>

</div><!-- /span split main -->
</div> <!-- /main row ok -->


<div clas="row">

<h2>History</h2>
  <% if @versions != nil %>
  <% versions = @versions.first(4) %>
  <% versions.each do |v| %>
<div class="hidden-xs hidden-sm col-md-6 col-lg-3">
   <b><%= v.event %></b> at <%= v.created_at %>:<br>
   from: <%= v.ip %><br>
<pre>
<ul>
<% v.changeset.each{|k,v| %>
<li><b><%=h k%>:</b> <%=h v[0]%> -&gt; <%=h v[1]%></li> <% } %>
</ul>
</pre>
</div>
  <% end %>
  <% end %>
</div> <!-- history row -->
