<%- model_class = Item -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="row">
<div class="col-md-9 col-xs-12">
<div class="row">
<div class="col-md-5 col-xs-12">
<h2>Item info</h2>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:tagid) %>:</strong></dt>
  <dd><%= @item.tagid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rfid) %>:</strong></dt>
  <dd><%= @item.rfid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:make) %>:</strong></dt>
  <dd><%= @item.make %></dd>
  <dt><strong><%= model_class.human_attribute_name(:model) %>:</strong></dt>
  <dd><%= @item.model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:weight) %>:</strong></dt>
  <dd><%= @item.weight %> kg</dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchased_at_date) %>:</strong></dt>
  <dd><%= @item.purchased_at_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:into_use) %>:</strong></dt>
  <dd><%= @item.into_use %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vendor_id) %>:</strong></dt>
  <dd><%= @item.vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:warranty_until) %>:</strong></dt>
  <dd><%= @item.warranty_time %> year(s), <%= @item.purchased_at_date + @item.warranty_time.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:life_time) %>:</strong></dt>
  <dd><%= @item.life_time %> year(s),  <%= @item.pur_date(params[:id]) + @item.life_time.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:serial) %>:</strong></dt>
  <dd><%= @item.serial %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @item.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner) %>:</strong></dt>
  <dd><%= @item.owner.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_seen) %>:</strong></dt>
  <dd>
   <%= @item.last_seen %>
   <%= "Overdue!!!" if (@item.last_seen + 1.year) < Date.today %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:service_interval) %>:</strong></dt>
  <dd>Every <%= @item.service_interval %> years, last service:<br> 
   <%= @item.comments.where(service: true).last.try(:created_at) %>
   <%= @item.serv_overdue(params[:id]) ? (raw "<br> OVERDUE") : "" %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:inspection_interval) %>:</strong></dt>
  <dd>Every <%= @item.inspection_interval %> months, last inspection:<br>
   <%= @item.comments.where(inspection: true).last.try(:created_at) %>
   <%= @item.insp_overdue(params[:id]) ? (raw "<br> OVERDUE") : "" %>
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:lup) %>:</strong></dt>
  <dd><%= @item.lup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lup_inc) %>:</strong></dt>
  <dd><%= @item.lup_inc %></dd>
  <dt><strong><%= model_class.human_attribute_name(:parent_id) %>:</strong></dt>
  <dd><%#= @item.ancestry %><%= @item.parent ? @item.parent.description : '---' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:memo) %>:</strong></dt>
  <dd><%= @item.memo %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category_id) %>:</strong></dt>
  <dd><%= @item.category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sub_category_id) %>:</strong></dt>
  <dd><%= @item.sub_category.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:size) %>:</strong></dt>
  <dd><%= @item.size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status_id) %>:</strong></dt>
  <dd><%= @item.status.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_id) %>:</strong></dt>
  <dd><%= @item.unit.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tagged) %>:</strong></dt>
  <dd><%= @item.tagged %></dd>
  <dt><strong><%= model_class.human_attribute_name(:Issued) %>:</strong></dt>
  <dd><%= @item.user.try(:firstname) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:terminate_at_eol) %>:</strong></dt>
  <dd><%= @item.terminate_at_eol %></dd>

</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              items_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_item_path(@item), :class => 'btn btn-default' %>
<%= link_to t('.copy', :default => t("helpers.links.copy")),
              copy_item_path(params[:id]), :class => 'btn btn-primary' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              item_path(@item),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div><!-- /div span4 item -->

<div class="col-md-4 col-xs-12"><!-- vendor and identifier -->
<h2>Vendor</h2>
<dl class="dl-horizontal">
<dt><strong>Vendor:</strong></dt>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @item.vendor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @item.vendor.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @item.vendor.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact) %>:</strong></dt>
  <dd><%= @item.vendor.contact %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @item.vendor.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @item.vendor.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:notes) %>:</strong></dt>
  <dd><%= @item.vendor.notes %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing) %>:</strong></dt>
  <dd><%= @item.vendor.billing %></dd>

</dl>
<div class="hidden-xs">
<h2>Identifiers</h2>
<table class="table table-striped">
<tr>
<th>Type</th>
<th>Barcode</th>
<th></th>
</tr>
<% @item.identifiers.each do |identifier| %>
<tr>
<td><%= identifier.name %></td>
<td><%= identifier.barcode %></td>
<td>
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      identifier_path(identifier), :class => 'btn btn-default btn-xs' %>
</tr>
<% end %>
</table>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_identifier_path,
            :class => 'btn btn-primary btn-xs' %>
</div>
</div><!-- /span for vendor and ident -->
</div><!-- /row for main info -->

<div class="row">
<div class="col-md-9 col-xs-12">
<h2>Service events and comments</h2>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_comment_path,
            :class => 'btn btn-primary btn-xs' %>

<table class="table table-striped">
<tr>
<th>* Who?</th>
<th>* Comment</th>
<th>Place</th>
<th>Price</th>
<th>Serv.?</th>
<th>Insp.?</th>
<th>Date</th>
<th></th>
</tr>
<% @item.comments.reverse.each do |comment| %>
<tr>
<td><%= comment.commenter %></td>
<td><%= comment.body %></td>
<td><%= comment.vendor_id.nil? ? '--' : comment.vendor.name %></td>
<td>EUR <%= comment.price %></td>
<td><%= comment.service ? '[x]' : '[ ]' %></td>
<td><%= comment.inspection ? '[x]' : '[ ]' %></td>
<td><%= comment.created_at %></td>
<td> 
           <%= link_to t('.show', :default => t("helpers.links.show")),
                      comment_path(comment), :class => 'btn btn-default btn-xs' %>

</td>
</tr>
<% end %>
</table>

</div><!-- /span comments -->
</div><!-- /row comments -->
</div><!-- /span split main -->
<div class="hidden-xs col-md-3">

<h2>History</h2>
  <% if @versions != nil %>
  <% versions = @versions.first(5) %>
  <% versions.each do |v| %>
   <b><%= v.event %></b> at <%= v.created_at %>:<br>
   from: <%= v.ip %><br>
<pre>
<ul>
<% v.changeset.each{|k,v| %>
<li><b><%=h k%>:</b> <%=h v[0]%> -&gt; <%=h v[1]%></li> <% } %>
</ul>
</pre>

  <% end %>
  <% end %>
</div> <!-- /span main split -->
</div> <!-- /main row ok -->
